**.o
**.log
**.lg2
**.pcm
**.wav
**.ogg
**.idx
**.idx
dict/BsDict
bslib/tst_BsLog
bslib/tst_BsLogNthr
bslib/tst_BsDataSet
test/tst_BsDicWordDsl
test/tst_BsDicWordDslBigest
test/tst_BsDicFrmt
test/tst_BsDicIdxAb
test/tst_BsDicIdxAbMatch
test/tst_BsDicIwrds
test/tst_BsDicIdxIrtRaw
test/tst_BsDicIdxIrtRawBig
test/tst_BsDicIwrdsBig
test/tst_BsDiIxTx
test/tst_BsDiIxFind
test/tst_BsDiIxFindBig
test/tst_BsDiIxFindBigFile
test/tst_BsDicDescrDsl
test/tst_BsDicLsa
